html,
body {
  font-family: $font-family;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  background-color: $color-gray-light;

  &.hidden {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none !important;
  }
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"] {
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
    }

    &:-moz-placeholder {
      opacity: 0;
    }

    &::-moz-placeholder {
      opacity: 0;
    }

    &:-ms-input-placeholder {
      opacity: 0;
    }
  }
}

button,
input {
  border: none;
  background: transparent;
  font-size: unset;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $color-gray-light;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $color-blue-2;
  border: 2px solid $color-gray-light;
}

*::-webkit-scrollbar-thumb:hover {
  background: $color-blue-4;
}
