@mixin zIndex($name) {
  z-index: map-get($zIndex, $name);
}

@function em($pixels, $context: $base-font-size) {
  @return #{$pixels / $context}em;
}

@mixin is-mobile {
  .is-mobile & {
    @content;
  }
}

@mixin is-desktop {
  .is-desktop & {
    @content;
  }
}
