@import "mixins";

$desktop-width: 1366;
$mobile-width: 390;

$base-font-size: 16;
$main-font: "Roboto";
$font-family: "#{$main-font}", sans-serif;

$zIndex: (
  "preloader": 100,
);

$transition: 0.3s ease;

$color-white: #ffffff;
$color-gray-light: #f6f8fc;
$color-gray-light-2: #effafe;
$color-black: #000000;
$color-blue: #154f84;
$color-blue-2: #284f87;
$color-blue-3: #60aacd;
$color-blue-4: #9bb0ce;
$color-green: #5ec373;

$gradient-accent: linear-gradient(90.17deg, #6feb88 0%, #80d6ff 100%);

$font-700-84-87: 700 #{em(84)}/#{em(87, 84)} "#{$main-font}";
$font-700-54-59: 700 #{em(54)}/#{em(59, 54)} "#{$main-font}";
$font-700-49-60: 700 #{em(49)}/#{em(60, 49)} "#{$main-font}";
$font-700-49-57: 700 #{em(49)}/#{em(57, 49)} "#{$main-font}";
$font-700-39-46: 700 #{em(39)}/#{em(46, 39)} "#{$main-font}";
$font-700-39-51: 700 #{em(39)}/#{em(51, 39)} "#{$main-font}";
$font-700-30-35: 700 #{em(30)}/#{em(35, 30)} "#{$main-font}";
$font-700-23-27: 700 #{em(23)}/#{em(27, 23)} "#{$main-font}";
$font-500-20-29: 500 #{em(20)}/#{em(29, 20)} "#{$main-font}";
$font-500-17-29: 500 #{em(17)}/#{em(29, 17)} "#{$main-font}";
$font-500-17-25: 500 #{em(17)}/#{em(25, 17)} "#{$main-font}";
$font-500-17-20: 500 #{em(17)}/#{em(20, 17)} "#{$main-font}";
$font-500-16-19: 500 #{em(16)}/#{em(19, 16)} "#{$main-font}";
$font-400-20-31: 400 #{em(20)}/#{em(31, 20)} "#{$main-font}";
$font-400-17-29: 400 #{em(17)}/#{em(29, 17)} "#{$main-font}";
$font-400-17-25: 400 #{em(17)}/#{em(25, 17)} "#{$main-font}";
$font-400-16-25: 400 #{em(16)}/#{em(25, 16)} "#{$main-font}";
