.title {
  font: $font-700-49-60;
  color: $color-blue-2;
  $parent: &;

  @include is-mobile {
    font: $font-700-39-51;
    text-align: center;
  }

  &--white {
    color: $color-white;
  }

  &--slim {
    font: $font-700-49-57;

    @include is-mobile {
      font: $font-700-30-35;
    }

    #{$parent} {
      &__underline {
        &:before {
          @include is-mobile {
            left: em(-3, 30);
            right: em(-3, 30);
            bottom: em(1, 30);
            height: em(14, 30);
            border-radius: em(2, 30);
          }
        }
      }
    }
  }

  &--big {
    font: $font-700-84-87;

    @include is-mobile {
      font: $font-700-54-59;
    }

    #{$parent} {
      &__underline {
        &:before {
          left: em(-3, 84);
          right: em(-3, 84);
          bottom: em(3, 84);
          height: em(26, 84);
          border-radius: em(2, 84);

          @include is-mobile {
            left: em(-3, 54);
            right: em(-3, 54);
            bottom: em(1, 54);
            height: em(18, 54);
            border-radius: em(2, 54);
          }
        }
      }
    }
  }

  &__underline {
    position: relative;
    text-decoration: none;
    display: inline-block;
    z-index: 3;

    &:before {
      content: "";
      position: absolute;
      left: em(-3, 49);
      right: em(-3, 49);
      bottom: em(5, 49);
      height: em(17, 49);
      border-radius: em(2, 49);
      background: $gradient-accent;
      z-index: -1;

      @include is-mobile {
        left: em(-3, 39);
        right: em(-3, 39);
        bottom: em(5, 39);
        height: em(13, 39);
        border-radius: em(2, 39);
      }
    }
  }
}
