@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.footer {
  background-image: url("/images/footer-background.jpg");
  background-position: top;
  background-size: cover;

  @include is-mobile {
    background-image: url("/images/footer-background-mobile.jpg");
  }

  &__container {
    padding: em(154) em(101) em(124);
    position: relative;

    @include is-mobile {
      padding: em(200) em(16) em(98);
    }
  }

  &__title {
    width: em(486);
    margin-bottom: em(54);

    @include is-mobile {
      width: 100%;
      margin-bottom: em(40);
    }
  }

  &__buttons {
    display: flex;

    @include is-mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__button {
    width: em(163);
    height: em(63);
    background-color: $color-white;
    box-shadow: 0 em(21) em(42) em(-10) rgba(96, 170, 205, 0.35);
    border-radius: em(13);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition background-color;

    &:hover {
      background-color: $color-gray-light;
    }

    &:not(:last-child) {
      margin-right: em(35);

      @include is-mobile {
        margin-right: 0;
        margin-bottom: em(20);
      }
    }
  }

  &__button-inner {
    color: $color-blue-2;
    font: $font-500-16-19;
  }

  &__float {
    position: absolute;

    &--blue-border {
      width: em(100);
      height: em(100);
      left: em(385);
      top: em(75);

      @include is-mobile {
        width: em(80);
        height: em(80);
        left: em(90);
        top: em(60);
      }
    }

    &--green-border {
      width: em(170);
      height: em(170);
      left: em(425);
      top: em(115);

      @include is-mobile {
        width: em(140);
        height: em(140);
        left: em(0);
        top: em(95);
      }
    }
  }
}
