@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.offer {
  padding: em(0) em(98) em(139);
  position: relative;

  @include is-mobile {
    padding: em(0) em(10) em(100);
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin: 0 auto em(58, 49);
    text-align: center;
    color: $color-white;
    font: $font-700-49-57;

    @include is-mobile {
      font: $font-700-30-35;
      margin: 0 auto em(52, 30);
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    @include is-mobile {
      flex-wrap: wrap;
      margin: em(-7) 0;
    }
  }

  &__card {
    width: em(267);

    @include is-mobile {
      width: em(178);
      margin: em(7) 0;
    }
  }

  &__decor {
    position: absolute;
    width: em(1290);
    height: em(1290);
    top: em(-344);
    left: em(36);

    @include is-mobile {
      width: em(757);
      height: em(757);
      top: em(-220);
      left: em(-184);
    }
  }

  &__float {
    position: absolute;

    &--blue-border {
      width: em(95);
      height: em(95);
      top: em(-10);
      right: em(280);

      @include is-mobile {
        width: em(65);
        height: em(65);
        top: em(-70);
        right: em(2);
      }
    }

    &--green-border {
      width: em(170);
      height: em(170);
      top: em(-132);
      right: em(344);

      @include is-mobile {
        width: em(120);
        height: em(120);
        top: em(-137);
        right: em(35);
      }
    }

    &--green-border-2 {
      width: em(90);
      height: em(90);
      top: em(392);
      left: em(220);

      @include is-mobile {
        width: em(90);
        height: em(90);
        top: em(480);
        left: em(0);
      }
    }

    &--green {
      width: em(50);
      height: em(50);
      top: em(336);
      left: em(215);

      @include is-mobile {
        width: em(50);
        height: em(50);
        top: em(460);
        left: em(60);
      }
    }
  }
}
