@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.partners {
  $parent: &;

  &__title {
    margin: 0 auto em(26);
    text-align: center;
  }

  &__content {
    padding: 0 em(61);
    background-color: $color-white;

    @include is-mobile {
      padding: 0 em(10);
    }
  }

  &__decor {
    background-color: $color-gray-light;
    height: em(30);
    border-radius: 0 0 em(30) em(30);

    @include is-mobile {
      border-radius: 0 0 em(20) em(20);
    }
  }

  &__swiper {
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: auto;
      right: auto;
      width: em(50);
      top: 0;
      bottom: 0;
      z-index: 2;

      @include is-mobile {
        width: em(30);
      }
    }

    &:after {
      background: linear-gradient(
        to left,
        #ffffff 0%,
        #ffffff 10%,
        rgba(#ffffff, 0) 100%
      );
      right: 0;
    }

    &:before {
      content: "";
      background: linear-gradient(
        to right,
        #ffffff 0%,
        #ffffff 10%,
        rgba(#ffffff, 0) 100%
      );
      left: 0;
    }

    .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    #{$parent} {
      &__slide {
        width: em(126);
        height: em(78);
        margin-right: em(101);

        @include is-mobile {
          width: em(126);
          height: em(78);
          margin-top: em(24);
          margin-bottom: em(24);
          margin-right: em(40);
        }
      }
    }
  }

  &__images {
    padding: em(78) em(40);
    border-radius: em(30);
    background-color: $color-white;
    position: relative;
    bottom: em(-30);
    margin-top: em(-30);

    @include is-mobile {
      padding: em(6) em(10) em(44);
      margin: 0;
      bottom: em(-22);
      border-radius: em(20);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}
