@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.addiction-beginning {
  padding: 0 em(118) em(234);
  $parent: &;
  position: relative;

  @include is-mobile {
    padding: 0 em(20) em(153);
  }

  &__title {
    text-align: center;
    margin: 0 auto em(90);
    max-width: em(491);
    position: relative;
    z-index: 3;

    @include is-mobile {
      max-width: em(321);
      margin-bottom: em(40);
    }
  }

  &__grid {
    display: flex;
    align-items: center;

    @include is-mobile {
      flex-direction: column-reverse;
    }

    &:not(:last-of-type) {
      margin-bottom: em(89);
      position: relative;
      z-index: 2;

      @include is-mobile {
        margin-bottom: em(93);
      }
    }

    &--reverse {
      flex-direction: row-reverse;

      #{$parent} {
        &__image-wrapper {
          margin-right: 0;
          margin-left: em(130);

          @include is-mobile {
            margin-left: 0;
          }
        }

        &__text {
          @include is-mobile {
            margin-bottom: em(60);
          }
        }

        &__green-points {
          transform: scaleX(-1);
        }

        &__decor {
          &--plate {
            bottom: auto;
            right: auto;
            left: em(-20);
            top: em(-20);
            box-shadow: 0 em(4) em(94) rgba(94, 195, 115, 0.4);

            @include is-mobile {
              left: em(-15);
              top: em(-15);
            }
          }

          &--round {
            width: em(712);
            height: em(712);
            bottom: em(-316);
            right: em(-316);
            left: auto;
            top: auto;

            @include is-mobile {
              width: em(390);
              height: em(390);
              bottom: em(-170);
              right: em(-170);
              left: auto;
              top: auto;
            }
          }
        }
      }
    }
  }

  &__image-wrapper {
    width: em(424);
    height: em(569);
    flex-shrink: 0;
    margin-right: em(130);
    position: relative;

    @include is-mobile {
      width: em(319);
      height: em(428);
      margin-right: 0;
    }
  }

  &__image {
    border-radius: em(30);
    width: 100%;
    height: 100%;
    box-shadow: 0 em(4) em(64) rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
  }

  &__green-points {
    width: em(42);
    height: em(12);
    margin-bottom: em(45);

    @include is-mobile {
      display: block;
      margin: 0 auto em(32);
    }
  }

  &__text {
    color: $color-blue-2;
    font: $font-400-20-31;
    width: em(473, 20);
    position: relative;
    z-index: 2;

    @include is-mobile {
      font: $font-400-17-29;
      width: 100%;
      margin-bottom: em(50);
    }
  }

  &__decor {
    position: absolute;

    &--round {
      width: em(642);
      height: em(642);
      left: em(-276);
      top: em(-276);

      @include is-mobile {
        width: em(483);
        height: em(483);
        left: em(-207);
        top: em(-207);
      }
    }

    &--plate {
      width: em(286);
      height: em(288);
      right: em(-20);
      bottom: em(-20);
      border-radius: em(40);
      box-shadow: 0 em(4) em(94) rgba(7, 81, 150, 0.35);

      @include is-mobile {
        width: em(216);
        height: em(216);
        right: em(-15);
        bottom: em(-15);
      }
    }
  }

  &__float {
    position: absolute;

    &--points-white,
    &--points-white-2 {
      width: em(205);
      height: em(299);
      right: em(112);
      top: em(-5);

      @include is-mobile {
        display: none;
      }
    }

    &--points-white-2 {
      right: em(701);
      top: em(713);

      @include is-mobile {
        display: none;
      }
    }

    &--white {
      width: em(150);
      height: em(150);
      right: em(500);
      top: em(500);

      @include is-mobile {
        display: none;
      }
    }

    &--blue-border {
      width: em(170);
      height: em(170);
      right: em(175);
      top: em(640);

      @include is-mobile {
        width: em(95);
        height: em(95);
        right: em(285);
        top: em(880);
      }
    }

    &--blue-border-2 {
      width: em(100);
      height: em(100);
      right: em(494);
      top: em(262);

      @include is-mobile {
        width: em(95);
        height: em(95);
        right: em(283);
        top: em(1658);
      }
    }

    &--blue-border-3 {
      width: em(95);
      height: em(95);
      left: em(252);
      top: em(1544);

      @include is-mobile {
        display: none;
      }
    }

    &--green-border {
      width: em(100);
      height: em(100);
      right: em(347);
      top: em(626);

      @include is-mobile {
        display: none;
      }
    }

    &--green-border-2 {
      width: em(170);
      height: em(170);
      left: em(84);
      top: em(1400);

      @include is-mobile {
        display: none;
      }
    }

    &--green {
      width: em(50);
      height: em(50);
      right: em(400);
      top: em(745);

      @include is-mobile {
        width: em(50);
        height: em(50);
        right: em(240);
        top: em(862);
      }
    }

    &--green-2 {
      width: em(50);
      height: em(50);
      left: em(345);
      top: em(1410);

      @include is-mobile {
        width: em(50);
        height: em(50);
        left: em(100);
        top: em(1714);
      }
    }
  }
}
