@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.offer-card {
  background-color: $color-white;
  box-shadow: 0 em(14) em(44) em(-10) rgba(0, 0, 0, 0.04);
  border-radius: em(20);
  padding: em(30) em(52) em(28);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include is-mobile {
    padding: em(30) em(18) em(28);
  }

  &__icon {
    color: $color-blue-2;
    height: em(46);
    width: em(47);
    margin-bottom: em(29);
  }

  &__name {
    text-align: center;
    color: $color-blue-2;
    font: $font-500-17-20;
  }
}
