@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.head {
  position: relative;
  padding: em(20) em(98) em(231);

  @include is-mobile {
    padding: em(15) em(26) em(100);
  }

  &__content {
    position: relative;
    z-index: 30;

    @include is-mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    width: em(182);
    height: em(38);
    color: $color-blue;
    margin-bottom: em(162);

    @include is-mobile {
      width: em(129);
      height: em(27);

      margin-bottom: em(68);
    }
  }

  &__title {
    max-width: em(439);
    margin-bottom: em(19);

    @include is-mobile {
      margin-bottom: em(21);
    }
  }

  &__description {
    font: $font-500-20-29;
    max-width: em(385, 20);
    color: $color-blue-4;
    margin-bottom: em(78, 20);

    @include is-mobile {
      text-align: center;
      font: $font-500-17-29;
      margin-bottom: em(370, 17);
    }
  }

  &__button {
    cursor: pointer;
    width: em(209);
    height: em(63);
    border-radius: em(13);
    background-color: $color-blue-3;
    box-shadow: 0 em(21) em(42) em(-10) rgba(96, 170, 205, 0.35);
    transition: $transition background-color;

    &:hover {
      background-color: $color-blue-4;
    }
  }

  &__button-inner {
    font: $font-500-16-19;
    color: $color-white;
  }

  &__decor {
    position: absolute;
    object-fit: contain;
    object-position: center;

    &--green-border-top {
      width: em(170);
      height: em(170);
      top: em(85);
      right: em(670);

      @include is-mobile {
        width: em(80);
        height: em(80);
        top: em(382);
        right: em(270);
      }
    }
    &--blue-border-top {
      width: em(105);
      height: em(105);
      top: em(50);
      right: em(610);

      @include is-mobile {
        width: em(47);
        height: em(47);
        top: em(368);
        right: em(250);
      }
    }
    &--green-top {
      width: em(50);
      height: em(50);
      top: em(35);
      right: em(548);

      @include is-mobile {
        width: em(25);
        height: em(25);
        top: em(359);
        right: em(220);
      }
    }

    &--blue-border-bottom {
      width: em(190);
      height: em(190);
      top: em(560);
      right: em(164);

      @include is-mobile {
        width: em(85);
        height: em(85);
        top: em(607);
        right: em(46);
      }
    }
    &--green-border-bottom {
      width: em(120);
      height: em(120);
      top: em(620);
      right: em(292);

      @include is-mobile {
        width: em(55);
        height: em(55);
        top: em(647);
        right: em(106);
      }
    }
    &--green-bottom {
      width: em(50);
      height: em(50);
      top: em(660);
      right: em(428);

      @include is-mobile {
        width: em(20);
        height: em(20);
        top: em(672);
        right: em(166);
      }
    }

    &--white {
      width: em(112);
      height: em(112);
      top: em(500);
      right: em(862);

      @include is-mobile {
        display: none;
      }
    }

    &--background {
      width: em(1222);
      height: em(1205);
      top: em(-205);
      right: em(-120);

      @include is-mobile {
        width: em(547);
        height: em(547);
        top: em(250);
        right: em(-79);
      }
    }
    &--mac {
      width: em(1100);
      height: em(818);
      top: em(8);
      right: em(-45);

      @include is-mobile {
        width: em(460);
        height: em(370);
        top: em(350);
        right: em(-25);
      }
    }
    &--phone-screen {
      top: em(300);
      right: em(532);
      width: em(300);
      height: em(440);

      @include is-mobile {
        top: em(482);
        right: em(224);
        width: em(120);
        height: em(200);
      }
    }
  }
}
