@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.addiction-prevent-card {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: em(52) em(46) em(62);
  $parent: &;
  border-radius: em(30);

  @include is-mobile {
    padding: em(50) em(40) em(71);
  }

  &--center {
    background-image: url("/images/addiction-card.png");
    background-position: top;
    background-size: cover;
    padding-left: em(58);
    padding-right: em(58);
    border-radius: em(30) em(30) 0 0;

    #{$parent} {
      &__icon-plate {
        background-color: $color-white;
        color: $color-green;
      }

      &__title {
        color: $color-green;
      }
    }
  }

  &__icon-plate {
    border-radius: em(15) em(15);
    width: em(78);
    height: em(78);
    padding: em(22);
    color: $color-blue-3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-gray-light-2;
    margin-bottom: em(43);

    @include is-mobile {
      margin-bottom: em(40);
    }
  }

  &__title {
    text-align: center;
    font: $font-400-16-25;
    color: $color-blue-3;

    @include is-mobile {
      font: $font-400-17-25;
    }
  }
}
