@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.addiction-prevent {
  padding: 0 em(98) em(134);
  position: relative;
  $parent: &;

  @include is-mobile {
    padding: 0 em(12) em(170);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: em(607);
    margin: 0 auto em(74);
    text-align: center;

    @include is-mobile {
      margin-bottom: em(54);
    }
  }

  &__cards {
    background-color: $color-white;
    border-radius: em(40);
    display: flex;
    justify-content: space-between;
    padding: em(14) em(50);
    width: em(1170);

    &--desktop {
      @include is-mobile {
        display: none;
      }
    }

    &--mobile {
      background-color: transparent;
      flex-direction: column;
      width: 100%;
      padding: 0;

      @include is-desktop {
        display: none;
      }
    }
  }

  &__card-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: em(60);
    }

    &--center {
      @include is-mobile {
        margin-bottom: em(55);
      }

      #{$parent} {
        &__image-wrapper {
          @include is-mobile {
            width: em(202);
            height: em(414);
          }
        }

        &__card-decor {
          @include is-mobile {
            top: em(140);
          }
        }
      }
    }
  }

  &__card-decor {
    position: absolute;
    width: em(753);
    height: em(793);
    z-index: -1;
    top: em(40);
    left: em(-210);
  }

  &__card {
    width: em(346);

    @include is-mobile {
      width: 100%;
    }
  }

  &__cards-button {
    background: $gradient-accent;
    border-radius: em(10) em(10) em(20) em(20);
    padding: 0 em(52);
    height: em(76);
    display: flex;
    align-items: center;
    margin: em(-23) auto em(-23);
    box-shadow: 0 em(14) em(94) rgba(111, 213, 235, 0.75);
    position: relative;

    @include is-mobile {
      margin: em(-32) auto 0;
      padding: 0 em(37);
      border-radius: em(5) em(5) em(10) em(10);
      width: fit-content;
      height: em(47);
    }

    &--desktop {
      @include is-mobile {
        display: none;
      }
    }
  }

  &__cards-button-inner {
    font: $font-700-39-46;
    color: $color-white;

    @include is-mobile {
      font: $font-700-23-27;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    width: em(1173);

    &--desktop {
      @include is-mobile {
        display: none;
      }
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--center {
      #{$parent} {
        &__arrow {
          height: em(31);
          margin-top: em(65);
          margin-bottom: em(30);
        }

        &__image-wrapper {
          width: em(218);
          height: em(447);
        }
      }
    }
  }

  &__arrow {
    width: em(15);
    height: em(149);
    color: $color-blue-2;
    margin-bottom: em(30);

    @include is-mobile {
      height: em(32);
      margin-top: em(20);
      margin-bottom: em(22);
    }
  }

  &__image-wrapper {
    width: em(397);
    height: em(202);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 em(14) em(54) rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(#{em(12)});
    border-radius: em(10);
    padding: em(10);
    margin-bottom: em(40);

    @include is-mobile {
      width: em(368);
      height: em(187);
      margin-bottom: em(29);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: em(5);
  }

  &__description {
    font: $font-500-17-25;
    color: $color-blue-2;
    width: em(290, 17);
    text-align: center;

    @include is-mobile {
      width: em(290, 17);
    }
  }

  &__decor {
    position: absolute;
    object-fit: contain;
    object-position: center;

    @include is-mobile {
      display: none;
    }

    &--background {
      width: em(1090);
      height: em(1250);
      top: em(270);
      left: em(170);

      @include is-mobile {
        display: none;
      }
    }

    &--white {
      width: em(112);
      height: em(112);
      left: em(233);
      top: em(1170);
    }
  }
}
