@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins.scss";

.app {
  overflow: hidden;

  &__preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include zIndex(preloader);
    transition: 0.6s opacity, 0.6s visibility, 0.6s transform;
    width: 100vw;

    &--loaded {
      opacity: 0;
      visibility: hidden;
      transform: scale(1.3);
    }
  }
}
